<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterForum | Administration</title>
    <link rel="icon" href="/assets/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/showtopics.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/logo.png" alt="Bettermode">
                </a>
            </div>
            <div class="search-login">
                {{if .LoggedIn}}
                <div class="user-info">
                    <img src="{{.User.Avatar}}" alt="Profile Picture" class="avatar-img"
                        onerror="this.src='/assets/img/default-avatar.webp';" onclick="toggleMenu()">
                    <div id="popupMenu" class="popup-menu" style="display:none;">
                        <a href="/profile">Votre Profile</a>
                        <a href="/logout">Se déconnecter</a>
                    </div>
                </div>
                {{else}}
                <a href="/login"><button>Log in</button></a>
                {{end}}
            </div>
        </header>
        <div class="main-content">
            <nav class="sidebar">
                <ul>
                    <p id="topics">Menu</p>
                    <li><img src="./assets/img/home.png" alt="Home" width="20px"><a href="/"> Accueil</a></li>
                    {{if .LoggedIn}}
                    <li><img src="./assets/img/home.png" alt="Home" width="20px"><a href="/createtopic"> Créer un
                            Topic</a></li>
                    <br>
                    {{end}}
                    <p id="topics">Topics</p>
                    <div class="topics-scrollable">
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=1">
                                Général</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=2">
                                Jeux-Vidéos</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=3">
                                Développement</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=4">
                                Informatique</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=5"> Leak de
                                jeux</a></li>
                    </div>
                </ul>
                <div class="sidebar-footer">
                    <ul>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <h1>Administration</h1>
                <h2>Posts signalés</h2>
                <div class="subforum">
                    {{range .ReportedPosts}}
                    <div class="subforum-row">
                        <div class="subforum-icon subforum-column center">
                            {{if .Avatar.Valid}}
                            <img class="avatar" src="{{.Avatar.String}}" alt="Avatar">
                            {{else}}
                            <img class="avatar" src="./web/assets/img/default-avatar.webp" alt="Default Avatar">
                            {{end}}
                        </div>
                        <div class="subforum-description subforum-column">
                            <h4><a href="/showpost?postid={{.ID}}"> {{.Title}}</a></h4>
                            <p>Brève Description {{.Content}}</p>
                        </div>
                        <div class="subforum-column">
                            <form action="/acceptpost?id={{.ID}}" method="post">
                                <button type="submit" class="accept-button"><i
                                        class="fa fa-check accept-icon"></i></button>
                            </form>
                            <form action="/deletepostfromadmin?id={{.ID}}" method="post">
                                <button type="submit" class="delete-button"><i
                                        class="fa fa-times reject-icon"></i></button>
                            </form>
                        </div>
                    </div>
                    {{end}}
                </div>

                <!-- if {{.Rank}} est pas admin alors ils voient pas -->
                 
                {{if eq .Rank "admin"}}
                <h2>Liste d'utilisateurs</h2>
                <div class="subforum">
                    {{range .Users}}
                    <div class="subforum-row">
                        <div class="subforum-users subforum-users-column">
                            <h4>{{.Username}}</h4>
                        </div>
                        <div class="left-actions">
                            <form action="/deleteuser?id={{.ID}}" method="post">
                                <button type="submit" class="delete-button"><i class="fa-solid fa-delete-left"></i></button>
                            </form>
                        </div>
                        
                    </div>
                    {{end}}
                </div>
                {{end}} 
            </main>
        </div>
        <footer>
            <p>&copy; 2024 Better <span color="red">Forum</span></p>
            <p><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Cookies</a></p>
        </footer>
    </div>
    <script src="../assets/static/home.js"></script>
</body>

</html>