<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterForum | Ajouter un Topic</title>
    <link rel="icon" href="/assets/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/createtopic.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/logo.png" alt="Bettermode">
                </a>
            </div>
            <div class="search-login">
                {{if .LoggedIn}}
                <div class="user-info">
                    <img src="{{.Avatar}}" alt="Profile Picture" class="avatar-img"
                        onerror="this.src='/assets/img/default-avatar.webp';" onclick="toggleMenu()">
                    <div id="popupMenu" class="popup-menu" style="display:none;">
                        <a href="/profile">Votre Profile</a>
                        <a href="/logout">Se déconnecter</a>
                    </div>
                </div>
                {{else}}
                <a href="/login"><button>Log in</button></a>
                {{end}}
            </div>
        </header>
        <div class="main-content">
            <nav class="sidebar">
                <ul>
                    <p class="topics">Menu</p>
                    <li><img src="./assets/img/home.png" alt="Home" width="20px"><a href="/"> Accueil</a></li>

                    <li><img src="./assets/img/home.png" alt="Home" width="20px"><a href="/createtopic"> Créer un
                            Topic</a> </li>
                    <br>
                    <p class="topics">Topics</p>
                    <div class="topics-scrollable">
                        <li><img src="./assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=1">
                                Général</a></li>
                        <li><img src="./assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=2">
                                Jeux-Vidéos</a></li>
                        <li><img src="./assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=3">
                                Développement</a></li>
                        <li><img src="./assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=4">
                                Informatique</a></li>
                        <li><img src="./assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=5"> Leak
                                de jeux</a></li>
                    </div>
                </ul>
                <div class="sidebar-footer">
                    <ul>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <div class="create-topic-form">
                    <h2>Créer un nouveau topic</h2>
                    <form action="/addtopic" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="category">Catégorie:</label>
                            <select id="category" name="category">
                                <option value="1">Général</option>
                                <option value="2">Jeux-Vidéos</option>
                                <option value="3">Développement</option>
                                <option value="4">Informatique</option>
                                <option value="5">Leak de jeux</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags (sélectionnez plusieurs):</label>
                            <select id="tags" name="tags" multiple>
                                <option value="general" style="color: blue;">Discussion</option>
                                <option value="info" style="color: green;">Information</option>
                                <option value="news" style="color: rgb(197, 197, 56);">Actus</option>
                                <option value="bug" style="color: red;">Important</option>
                                <option value="feature" style="color: purple;">Features</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title">Titre:</label>
                            <input type="text" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="content">Contenu:</label>
                            <textarea id="content" name="content" rows="10" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="images">Ajouter des images (max 20MB):</label>
                            <input type="file" id="images" name="images[]" multiple>
                        </div>
                        <button type="submit">Créer le topic</button>
                    </form>
                </div>
            </main>
        </div>
        <footer>
            <p>&copy; 2024 Better <span style="color:red;">Forum</span></p>
            <p><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Cookies</a></p>
        </footer>
    </div>
    <script src="../assets/static/home.js"></script>
</body>

</html>