<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterForum</title>
    <link rel="icon" href="/assets/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/home.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/logo.png" alt="Bettermode">
                </a>
            </div>
      
              <div class="search-login">
                <div class="user-info">
                    <img src="{{.Avatar}}" alt="Profile Picture" class="avatar-img"
                        onerror="this.src='/assets/img/default-avatar.webp';" onclick="toggleMenu()">
                    <div id="popupMenu" class="popup-menu" style="display:none;">
                        <a href="/profile">Votre Profile</a>
                        <a href="/logout">Se déconnecter</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <nav class="sidebar">
                <ul>
                    <p id="topics">Menu</p>
                    <li><img src="./assets/img/home.png" alt="Home" width="20px"><a href="/"> Accueil</a></li>

                    <li><img src="./assets/img/home.png" alt="Home" width="20px"><a href="/createtopic"> Créer un
                            Topic</a> </li>
                    <br>
                    <p id="topics">Topics</p>
                    <div class="topics-scrollable">
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=1">
                                Général</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=2">
                                Jeux-Vidéos</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=3">
                                Développement</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=4">
                                Informatique</a></li>
                        <li><img src="/assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=5"> Leak de
                                jeux</a></li>
                    </div>
                </ul>
                <div class="sidebar-footer">
                    <ul>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <section class="whats-new">
                    <h2>Votre Profil</h2>
                    <div class="cards">
                        <div class="card">
                            <img src="/assets/img/patern.png" alt="Jira integration">
                            <h3>Vos Informations</h3>
                            <p>Username: {{.Username}}</p>
                            <p>User ID : {{.ID}}</p>
                            <p>Email: {{.Email}}</p>
                            <p>Avatar: <img src="{{.Avatar}}" alt="Profile Picture" class="avatar-img"
                                onerror="this.src='/assets/img/default-avatar.webp';"></p>  
                            <p>Plateform : {{.Platform}}</p>
                        </div>
                        <div class="card">
                            <img src="/assets/img/patern.png" alt="Post Bulk Actions">
                            <h3>Grade & Privileges</h3>
                            <p>Vous avez actuellement le grade {{.Rank}} sur notre super FORUM</p>
                            {{if eq .Rank "user"}}
                            <div class="become_mod">
                            <form action="/becomemod?id={{.ID}}" method="POST">
                                <input type="hidden" name="id" value="{{.ID}}">
                                <button>Devenir Modérateur</button>
                            </div>
                            {{end}}
                        </div>
                       
                    </div>
                   
                </section>
            </main>
        </div>
        <footer>
            <p>&copy; 2024 Better <span color="red">Forum</span></p>
            <p><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Cookies</a></p>
        </footer>
    </div>
    <script src="/assets/static/home.js"></script>
</body>

</html>
