<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterForum | Post</title>
    <link rel="icon" href="/assets/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/showtopics.css">
    <script src="https://kit.fontawesome.com/459ca3d53b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/logo.png" alt="Bettermode">
                </a>
            </div>
            <div class="group">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                    <g>
                        <path
                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                    </g>
                </svg>
                <input placeholder="Search" type="search" class="input">
            </div>
            <div class="search-login">
                {{if .LoggedIn}}
                <img src="{{.Avatar}}" alt="Profile Picture" class="avatar-img">
                {{else}}
                <a href="/login"><button>Log in</button></a>
                {{end}}
            </div>
        </header>
        <div class="main-content">
            <nav class="sidebar">
                <ul>
                    <p id="topics">Menu</p>
                    <li><img src="../assets/img/home.png" alt="Home" width="20px"><a href="/"> Accueil</a></li>
                    <li><img src="../assets/img/home.png" alt="Home" width="20px"><a href="#"> Actus</a></li>
                    {{if .LoggedIn}}
                    <li><img src="../assets/img/home.png" alt="Home" width="20px"><a href="/createtopic"> Crée un Topic</a> </li>
                    <br>
                    {{end}}
                    <p id="topics">Topics</p>
                    <div class="topics-scrollable">

                        <li><img src="../assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=1"> Général</a></li>
                        <li><img src="../assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=2"> Jeux-Vidéos</a></li>
                        <li><img src="../assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=3"> Développement</a></li>
                        <li><img src="../assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=4"> Informatique</a></li>
                        <li><img src="../assets/img/topic.png" alt="Home" width="20px"><a href="/showtopics?id=5"> Leak de jeux</a></li>
                    </div>
                </ul>
                <div class="sidebar-footer">
                    <ul>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <div class="post">
                    <h2>Titre : {{.Post.Title}}</h2>
                    <p>Par <a href="#">{{.Post.Owner}}</a> le <small>{{.Post.CreateAt}}</small></p>
                    <p id="postcontent">{{.Post.Content}}</p>
                    {{if .Post.Images}}
                    <p>Images : </p>
                    <img src="..{{.Post.Images}}" alt="Image" class="post-img">
                    {{end}}
                     <div class="comments">
                    <h3>Commentaires</h3>
                
                    {{range .Comments}}
                    <div class="comment">
                        <img src="{{.Avatar}}" alt="Profile Picture" class="avatar-img">
                        <div class="comment-content">
                            <p>{{.Content}}</p>
                            <p>Par <a href="#">{{.Owner}}</a> le <small>{{.CreateAt}}</small></p>
                        </div>
                    </div>
                    
                    {{end}}
                </div>
            </main>
        </div>
        <footer>
            <p>&copy; 2023 Better <span color="red">Forum</span></p>
            <p><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Cookies</a></p>
        </footer>
    </div>
    <script>
        function likePost(postID) {
            fetch('/likepost', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'postid=' + postID,
            }).then(response => location.reload());
        }

        function dislikePost(postID) {
            fetch('/dislikepost', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'postid=' + postID,
            }).then(response => location.reload());
        }
    </script>
</body>
</html>

